#include "roBa.dtsi"

/* 列ピン：SPI CS(&gpio0 9)と衝突させないため 0,9 は使わない */
&kscan0 {
    col-gpios
        = <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9  GPIO_ACTIVE_HIGH>
        , <&xiao_d 8  GPIO_ACTIVE_HIGH>
        , <&xiao_d 7  GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        ;
};

/* この overlay で encoders を定義（自前ラベル） */
&{/} {
    encoders {
        compatible = "zmk,encoders";

        left_encoder: encoder_left {
            compatible = "alps,ec11";
            /* ★空き Dピンを指定（kscan/SPI/IRQ と不重複にする） */
            a-gpios = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            resolution = <4>;
            status = "okay";
        };
    };
};
