#include "roBa.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
};
/ {
  encoders {
    compatible = "zmk,encoders";

    encoder0: encoder_0 {
      compatible = "alps,ec11";
      status = "disabled";  // ★一時的に無効化
      // a-gpios = <...>;
      // b-gpios = <...>;
      // resolution = <4>;
    };
  };
};
